/* ant design */
.antd-spinner { 
    margin-top: 20px;
}

.ant-card-head-title {
    padding: 8px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
    -webkit-flex: 1;
    flex: 1 1;
    display: inline-block;
}

.ant-collapse-borderless > .ant-collapse-item {
    border-bottom: 0px;
}

.ant-comment-inner {
    padding: 5px 0;
    display: -webkit-flex;
    display: flex;
}

.ant-card-head {
    background: transparent;
    border-bottom: 1px solid #e8e8e8;
    padding: 0 24px;
    border-radius: 2px 2px 0 0;
    zoom: 1;
    margin-bottom: -1px;
    min-height: 48px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 400;
}

.ant-input-affix-wrapper {
    font-size: 14px;
    -webkit-font-feature-settings: "tnum";
    font-feature-settings: "tnum";
    font-variant: tabular-nums;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
    list-style: none;
    position: relative;
    display: inline-block;
    width: 100%;
}

.ant-btn-danger {
    color: #f5222d;
    background-color: #f5f5f5;
    border-color: #ffffff00;
}

.ant-back-top {
    font-size: 14px;
    -webkit-font-feature-settings: "tnum";
    font-feature-settings: "tnum";
    font-variant: tabular-nums;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 10;
    position: fixed;
    left: 100px;
    bottom: 50px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

/* react-chat-widget */
.rcw-client, .rcw-response {
    border-radius: 10px;
    padding: 10px;
    max-width: 215px;
    text-align: left;
}


.rcw-message {
    margin: 5px;
    padding-bottom: 4px;
    display: -webkit-flex;
    display: flex;
}

.rcw-avatar {
    width: 30px;
    height: 30px;
    margin-top: 1vh;
    margin-left: 1vh;
    border-radius: 100%;
    margin-right: 10px;
}

/* index  */
#mu-latest-courses {
    background-color: rgba(255, 255, 255, 0);
    display: inline;
    float: left;
    padding: 40px 0;
    width: 100%;
}

#mu-abtus-counter {
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline;
    float: left;
    margin-top: 40px;
    padding: 100px 0;
    width: 100%;
}

#mu-features {
    display: inline;
    float: left;
    padding: 80px 0px;
    width: 100%;
}

/* custom  */
#index-article img {
    width: 100%;
}